# Don't add git files to build context
.git/
.gitattributes
.gitignore
.gitmodules
.gitlab-ci.yml
.gitlab/

# Ignore git-related markdown files
.dockerignore
LICENSE
README.md
CONTRIBUTING.md
CHANGELOG

# Don't include secrets files in build
secrets/

# No renv content in build except activate.R
renv/
!renv/activate.R

# Ignore R project files
*.Rproj
.Rproj.user/
.Rhistory
*.Rhistory
