# History files
.Rhistory
.Rapp.history

# R project files
.Rproj.user/

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Ignore all data files
*.parquet
*.rds
*.zip
*.csv
*.xlsx
*.xlsm
*.html

# Ignore python environment
pipenv/
pipenv

# Reporting files
reports/*
!/reports/balance_test/balance_test.qmd
!/reports/shap_summary/shap_summary.qmd

