cfgv==3.4.0
distlib==0.4.0
filelock==3.18.0
identify==2.6.13
llvmlite==0.43.0
nodeenv==1.9.1
numba==0.60.0
numpy==2.0.2
pandas==2.2.3
platformdirs==4.3.8
pre_commit==4.3.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
six==1.17.0
typing_extensions==4.14.1
tzdata==2024.2
virtualenv==20.34.0
